<div ng-controller="homeController as homeCtrl" class="">
    <span>
        <div class="container-fluid main-div" >

            <section class="col-md-12">
                <div>
                    <h1  class="text-center">OpenEBench</h1>
                </div>
                <div class="main-content-center">
                    <input  ng-model="text" class="elevated" type="text" name="" value="" placeholder="Search..." required>
                </div>
                <div class="main-content-center">
                    <button name="btm" type="button" class="custom-button elevated" ng-click="homeCtrl.search(text)" ng-disabled="!text" >Go!</button>
                </div>
            </section>

            <section class="col-md-12">
                <div onclick="location.href='#!/benchmarking'" class="col-md-6 main-content-center elevate elevated img-button">
                    <div class="col-sm-6">
                        <h3 class="center-content">Scientific Benchmarking</h3>
                        <div class="center-content">
                            <img  src="img/ELIXIR_data.svg" alt="" class=" main-image">

                        </div>
                        <!-- <p class="center-content">Results from Benchmarking</p> -->
                    </div>
                </div>

                <div onclick="location.href='#!/tool'" class="col-md-6 main-content-center elevate elevated img-button">
                    <div  class="col-sm-6" >
                        <h3 class="center-content ">Technical Monitoring</h3>
                        <div class="center-content">
                            <img  src="img/ELIXIR_tools.svg" alt="" class=" main-image">
                        </div>
                        <!-- <p class="center-content">Data repository for technical monitoring of Elixir tools</p> -->
                    </div>
                </div>
            </section>

        </div>

        <div class="container-fluid main-bg-color">
            <section class="main-div">
                <div class="col-md-12">
                    <p class="main-text">ELIXIR Benchmarking platform will provide guidance and software infrastructure for Benchmarking and Technical Monitoring of bioinformatics tools, web servers and algorithms.</p>
                </div>

                <div class="col-sm-6">
                    <img src="img/benchmark.png" height="400px" width="auto" alt="">
                </div>

                <div class="col-sm-6">
                    <p class="main-text">
                        High level activities.<br>Engage with existing benchmark initiatives making different communities aware of the platform.<br>Maintain a data warehouse infrastructure to keep record of Benchmarking initiatives.<br>Expose benchmarking and technical monitoring results to Elixir Tools registry.<br>Establish and refine communication protocols with communities and/or infrastructure projects willing to have a unified benchmark infrastructure Coordinate with Elixir.<br>Interoperability Platform to keep FAIR data principles on Benchmarking data warehouse.</p>
                </div>
            </section>
        </div>
    </span>

</div>
