<div ng-controller="homeController as homeCtrl" class="container">


            <div class="row top-spacing">
                <h1  class="text-center">OpenEBench</h1>
            </div>

            <div class="row main-content-center top-spacing">
                <input  ng-keyup="$event.keyCode == 13 ? homeCtrl.search(text) : null" ng-model="text" class="main-content-input elevated" type="text" name="" value="" placeholder="Search..." required>
                <button name="btn" type="button" class="custom-button elevated" ng-click="homeCtrl.search(text)" ng-disabled="!text" >Go!</button>
            </div>


            <div class="row top-spacing">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <h3 class="text-center">Scientific Benchmarking</h3>
                    </div>
                    <div onclick="location.href='#!/benchmarking'" class="col-md-12 main-content-center img-button">
                        <img  src="img/ELIXIR_data.svg" alt="" class="main-image">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-12">
                        <h3 class="text-center">Technical Monitoring</h3>
                    </div>
                    <div onclick="location.href='#!/tool'" class="col-md-12 main-content-center img-button">
                        <img  src="img/ELIXIR_tools.svg" alt="" class="main-image">
                    </div>

                </div>
            </div>


            <div class="row top-spacing">
                <div class="col-md-12">
                    <img src="img/Diagram_with_textbox.svg" alt="" class="diagram">
                </div>
            </div>
            <div class="row top-spacing">
                <div class="col-md-12">
                    <h3>
                        ELIXIR Benchmarking platform will provide guidance and software infrastructure for Benchmarking and Technical Monitoring of bioinformatics tools, web servers and algorithms.
                    </h3>
                    <ol>
                        <h3><li>High level activities.</li></h3>
                        <h3><li>Engage with existing benchmark initiatives making different communities aware of the platform.</li></h3>
                        <h3><li>Maintain a data warehouse infrastructure to keep record of Benchmarking initiatives.</li></h3>
                        <h3><li>Expose benchmarking and technical monitoring results to Elixir Tools registry.</li></h3>
                        <h3><li>Establish and refine communication protocols with communities and/or infrastructure projects willing to have a unified benchmark infrastructure Coordinate with Elixir.</li></h3>
                        <h3><li>Interoperability Platform to keep FAIR data principles on Benchmarking data warehouse.</li></h3>
                    </ol>
                </div>
            </div>

</div>
