<div ng-controller="homeController as homeCtrl" class="container">
    <div class="row">
        <p class="lead"><b>ELIXIR Benchmarking platform</b> will provide guidance and software infrastructure for Benchmarking and Technical Monitoring of bioinformatics tools, web servers and algorithms.</p>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="img/benchmark.png" height="400px" width="auto" alt="">
        </div>
        <div class="col-sm-6">
            <p class="main-text">
                High level activities.<br>Engage with existing benchmark initiatives making different communities aware of the platform.<br>Maintain a data warehouse infrastructure to keep record of Benchmarking initiatives.<br>Expose benchmarking and technical monitoring results to Elixir Tools registry.<br>Establish and refine communication protocols with communities and/or infrastructure projects willing to have a unified benchmark infrastructure Coordinate with Elixir.<br>Interoperability Platform to keep FAIR data principles on Benchmarking data warehouse.</p>
        </div>
    </div>
    <hr class="" style="width: 500px; margin: 40px auto">
    <div class="row ">
        <div class="col-sm-6 center-content">
            <h3 class="center-content">Benchmarking Data Warehouse</h3>
            <div class="center-content">
                <img src="img/ELIXIR_data.svg" alt="">
                <button type="button" onclick="" class="btn btn-primary">Access</button>
            </div>
            <p class="center-content">Results from Benchmarking</p>

        </div>
        <div class="col-sm-6" class="center-content">
            <h3 class="center-content">Tools Monitoring Data</h3>
            <div class="center-content">
                <img src="img/ELIXIR_tools.svg" alt="">
                <button type="button" onclick="location.href='#!/tools'" class="btn btn-primary">Access</button>
            </div>
            <p class="center-content">Data repository for technical monitoring of Elixir tools</p>
        </div>
    </div>
    <hr class="" style="width: 500px; margin: 40px auto">
</div>
