<div class="container">
    <h3 class="text-center">Github Repositories</h3>
    <br>
    <div class="">
        <h4>openEBenchFrontend</h4>
        <p>
            This website is developed using AngularJS and is available at:<br>
            <a href="https://github.com/inab/openEBenchFrontend">https://github.com/inab/openEBenchFrontend</a>
        </p>
    </div>
    <hr>
    <div class="">
        <h4>openEBench-widgets</h4>
        <p>
            A widget to display tool information is available at:<br>
            <a href="https://github.com/inab/openEBench-widgets">https://github.com/inab/openEBench-widgets</a>
        </p>
    </div>
    <hr>
    <div class="">
        <h4>elixibilitas</h4>
        <p>
            Lists the API's used by openEBenchFrontend to display the information:
            <br>
            <a href="https://github.com/inab/elixibilitas">https://github.com/inab/elixibilitas</a>
        </p>
    </div>
    <hr>


</div>
