<div class="container-table container" ng-controller="searchController as searchCtrl" ng-init="searchCtrl.loadInitData()">
    <error-message error="searchCtrl.error" ng-show="searchCtrl.loadingDisplay==2" ></error-message>
    <div class="responsive-table">

        <table class="table table-striped" >
            <tr>
                <th>Name</th>
                <th>Details</th>
            </tr>
            <tr dir-paginate="tool in searchCtrl.data | itemsPerPage: searchCtrl.pageSize" current-page="searchCtrl.currentPage">
                <td>{{tool.name}}</td>
                <td>
                    <a ng-click=searchCtrl.parseurl(tool["@id"]) type="button" class="btn btn-info btn-xs" >+ info</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" ng-if="searchCtrl.data.length==0">No data found</td>
            </tr>
        </table>
        <div class="text-center">
            <dir-pagination-controls boundary-links="true" max-size="12"></dir-pagination-controls>
        </div>
    </div>
</div>
