<div class="container-table container" ng-controller="searchController as searchCtrl" ng-init="searchCtrl.loadInitData()">
    <error-message error="searchCtrl.error" ng-show="searchCtrl.loadingDisplay==2" ></error-message>
    <div class="responsive-table">

        <table class="table table-striped" >
            <tr>
                <th>Name</th>
                <th>More info</th>
                <th>Types</th>
            </tr>
            <tr dir-paginate="tool in searchCtrl.data | itemsPerPage: searchCtrl.pageSize" current-page="searchCtrl.currentPage">
                <td><p>{{tool["_id"]._id}}</p></td>
                <td class="col-md-2;">
                    <a ng-click="searchCtrl.showDetails(tool);" type="button" class="btn btn-info btn-xs" >+ info</a>
                </td>
                <td ><span  ng-repeat="a in tool.tools" style="display:inline-block"><img class ="table-icons" ng-src="img/{{a['@type']}}.png" data-toggle="tooltip" title="{{a['@type'] | uppercase}}" alt="{{a['@type']  | uppercase}}"/></span></td>
            </tr>
            <tr>
                <td colspan="3" ng-if="searchCtrl.data.length==0">No data found</td>
            </tr>

        </table>
        <div class="text-center">
            <dir-pagination-controls boundary-links="true" max-size="12"></dir-pagination-controls>
        </div>
    </div>
</div>
