<div ng-controller="statsController as statsCtrl" class="container">

    <div class="text-center" ng-bind-html="statsCtrl.message"></div>
    <error-message error="statsCtrl.error" ng-show="statsCtrl.loadingDisplay==2" ></error-message>

    <div class="col-md-12" ng-show="statsCtrl.loadingDisplay==1">
        <h3>Tools stats</h3>
        <div class="jumbotron">
        <stacked-bar-chart></stacked-bar-chart>

            <canvas class="chart chart-base"
            chart-type="statsCtrl.chart1.getType()"
            chart-labels="statsCtrl.chart1.getLabel()"
            chart-series="statsCtrl.chart1.getSeries()"
            chart-options="statsCtrl.chart1.getOptions()"
            chart-colors="statsCtrl.chart1.getColor()"
            chart-data="statsCtrl.chart1.getData()">
            </canvas>

        </div>
</div>
