<div ng-controller="toolController as toolCtrl" ng-init="toolCtrl.loadInitData();" class="conatiner-fluid">
    <div class="form-group">
        <div class="input-group col-md-2 col-md-4 col-md-offset-5 col-xs-offset-8">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input ng-model="q" id="search" type="text" class="form-control" name="search" placeholder="Filter">
        </div>
    </div>
    <div class="responsive-table">
        <table class="table table-striped" >
            <tr>
                <th><b>Name</b></th>
                <th><b>Type</b></th>
                <th><b>Description</b></th>
                <th><b>Details</b></th>
            </tr>
            <tr dir-paginate="tool in toolCtrl.toolsArray | filter:q | itemsPerPage: toolCtrl.pageSize" current-page="toolCtrl.currentPage">
                <td><a data-toggle="tooltip" title={{tool.homepage}} href="{{tool.homepage}}" target="_blank">{{tool.name}}</a></td>
                <td><img class ="table-icons"ng-src="img/{{tool['@type']}}.png" alt="" data-toggle="tooltip" title="{{tool['@type'] | uppercase}}"></td>
                <td data-toggle="tooltip" title={{tool.description}} >{{tool.description}}</td>
                <td><a ng-click="toolCtrl.showDetails(tool);" class="btn btn-primary btn-xs"type="button" name="button">Details</a></td>
                <!-- href="https://bio.tools/?page=1&q={{tool.name}}" -->
                <!-- <td ng-show="toolCtrl.toolsArray.length==0">Sorry! No data found</td> -->
                <!-- {{!tool ? "yes" : "no"}} -->
            </tr>
        </table>
    </div>
    <div class="text-center">
        <dir-pagination-controls boundary-links="true" max-size="12"></dir-pagination-controls>
    </div>
    <div ng-show="toolCtrl.displayDetailsView == 1">
        <div class="details-content">
            <hr>
            <div class="col-md-12">
                <h1 class="text-center"><a data-toggle="tooltip" title="{{toolCtrl.basicDetails.getLink()}}" href="{{toolCtrl.basicDetails.getLink()}}">{{toolCtrl.basicDetails.getName()}}  </a><span><img class ="table-icons" ng-src="img/{{toolCtrl.basicDetails.getType()}}.png" alt="" data-toggle="tooltip" title="{{toolCtrl.basicDetails.getType() | uppercase}}"></span></h1>
            </div>
            <div class="col-md-6">
                <h4>Description</h4>
                <p>{{toolCtrl.basicDetails.getDesc()}}</p>
                <h4>Version</h4>
                <p>{{toolCtrl.basicDetails.getVersion() ? toolCtrl.basicDetails.getVersion() : "No version information found"}}</p>
                <!-- <p>Documentation : {{toolCtrl.basicDetails.getDocs() ? toolCtrl.basicDetails.getDocs() : "No documentation found"}}</p> -->
                <h4>Documentations</h4>
                <ul ng-repeat="(key,value) in toolCtrl.basicDetails.getDocs() track by $index">
                    <p>{{key}} : {{value ? value : "No information found"}}</p>
                </ul>
                <h4>Publications</h4>
                <ul ng-repeat="publicationInfoObject in toolCtrl.basicDetails.getPublication()">
                    <ul ng-repeat="(key,value) in publicationInfoObject track by $index">
                        <p>{{key}} : {{value ? value : "No information found"}}</p>
                    </ul>
                </ul>
                <h4>Contacts</h4>
                <ul ng-repeat="contactInfoObject in toolCtrl.basicDetails.getContact()">
                    <ul ng-repeat="(key,value) in contactInfoObject track by $index">
                        <p>{{key}} : {{value ? value : "No information found"}}</p>
                    </ul>
                </ul>
                <h4>Repositories</h4>
                <ul ng-repeat="repoLinks in toolCtrl.basicDetails.getRepo()">
                    <p ng-if="!repoLinks"> No repositories found</p>
                    <a href="{{repoLinks}}">{{repoLinks ? repLinks : "No repositories found"}}</a>
                </ul>
            </div>
            <div class="col-md-3" >
                <h4>Semantics</h4>
                <div  ng-repeat="edamDiv in toolCtrl.detailsToDisplayObjects">
                    <div class="{{edamDiv.edamType}}">
                        <h6 class="text-center">{{edamDiv.edamType | uppercase}}</h6>
                        <p class="text-center" data-toggle="tooltip" title="{{edamDiv.toolComment[0]}}">Label : {{edamDiv.toolLabel[0]}}</p>
                        <!-- <span ng-if="edamDiv.formatComment[0]"> -->
                            <p  class="text-center" data-toggle="tooltip" title="{{edamDiv.formatComment[0]}}">Format : {{edamDiv.formatLabel[0] ? edamDiv.formatLabel[0] : "No format information"}}</p>
                        <!-- </span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <span id="sparkline">

</span> -->



<!-- <script type="text/javascript">
$("#sparkline").sparkline([-1,1,1,-1,1,], {
    // disableTooltips: 'false',
    tooltipValueLookups : {'-1':"down","1":"up"},
    posBarColor : 'blue',
    negBarColor : 'red',
    type: 'tristate',
    height: 'auto',
    barWidth: 9,
    barSpacing: 1});
    </script> -->
