<div ng-controller="profileController as profileCtrl" ng-init="profileCtrl.loadInitData();" class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="text-center">
                <img src="img/pp.png"  width="150px" height="150px"alt="">
            </div>
            <div class="text-center">
                <h4>{{profileCtrl.name ? profileCtrl.name : "Demo"}}</h4>
                <button type="button" class="btn btn-default">Follow</button>
            </div>
            <br>
            <div>
                <ul class="nav">
                    <li>
                        <a ng-click ="profileCtrl.loadDisplay=0">
                            <i class="glyphicon glyphicon-filter"></i>
                            Technical monitoring
                        </a>
                    </li>
                    <li>
                        <a ng-click ="profileCtrl.loadDisplay=1">
                            <i class="glyphicon glyphicon-flag"></i>

                            Scientific benchmark
                        </a>
                    </li>
                    <li>
                        <a ng-click ="profileCtrl.loadDisplay=2">
                            <i class="glyphicon glyphicon-user"></i>
                            Account Settings
                        </a>
                    </li>


                    <li>
                        <a ng-click ="profileCtrl.loadDisplay=3">
                            <i class="glyphicon glyphicon-flag"></i>
                            Help
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 border-left">
            <div ng-show="profileCtrl.loadDisplay==0">
                <div class="text-center">
                    <h2>Technical Monitoring</h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <h3 class="text-center"><i class="glyphicon glyphicon-pushpin"></i> Bookmarked tools</h3>
                        </div>
                        <table class="table table-condensed table-hover">
                            <tr>
                                <th><b>Name</b></th>
                                <th><b>More info</b></th>
                                <th><b>Types</b></th>
                            </tr>
                            <tr>
                                <td>PMut</td>
                                <td><a href="#" class="btn btn-info btn-xs">info</a></td>
                                <td><img class ="table-icons"  title="CMD" src="img/cmd.png" alt="">
                                    <img class ="table-icons"  title="WEB"  src="img/web.png" alt="">
                                    <img class ="table-icons"  title="REST" src="img/rest.png" alt="REST"></td>
                                </tr>
                                <tr>
                                    <td>TrimAl</td>
                                    <td><a href="#" class="btn btn-info btn-xs">info</a></td>
                                    <td><img class ="table-icons" src="img/cmd.png" alt=""></td>
                                </tr>
                                <tr>
                                    <td>xcms</td>
                                    <td><a href="#" class="btn btn-info btn-xs">info</a></td>
                                    <td>
                                        <span style="display:inline-block !important">
                                            <img class ="table-icons" src="img/cmd.png" alt=""/>
                                            <img class ="table-icons" src="img/lib.png" alt=""/>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>zipHMM</td>
                                    <td><a href="#" class="btn btn-info btn-xs">info</a></td>
                                    <td><img class ="table-icons" src="img/lib.png" alt=""></td>
                                </tr>
                        </table>
                    </div>

                    <div class="col-md-6">
                        <div class="col-md-12">
                            <h3 class="text-center"><i class="glyphicon glyphicon-edit"></i> Contributions</h3>
                        </div>
                        <table class="table table-condensed table-hover">
                            <tr>
                                <th><b>Name</b></th>
                                <th><b>More info</b></th>
                                <th><b>Types</b></th>

                            </tr>
                            <tr>
                                <td>TrimAl</td>
                                <td><a href="#" class="btn btn-info btn-xs">info</a></td>
                                <td><img class ="table-icons" src="img/cmd.png" alt=""></td>
                            </tr>
                            <tr>
                                <td>PMut</td>
                                <td><a href="#" class="btn btn-info btn-xs">info</a></td>
                                <td><img class ="table-icons"  title="CMD" src="img/cmd.png" alt="">
                                    <img class ="table-icons"  title="WEB"  src="img/web.png" alt="">
                                    <img class ="table-icons"  title="REST" src="img/rest.png" alt="REST"></td>
                                </tr>
                                <tr>
                                    <td>xcms</td>
                                    <td><a href="#" class="btn btn-info btn-xs">info</a></td>
                                    <td>
                                        <span style="display:inline-block !important">
                                            <img class ="table-icons" src="img/cmd.png" alt=""/>
                                            <img class ="table-icons" src="img/lib.png" alt=""/>
                                        </span>
                                    </td>
                                </tr>
                        </table>
                    </div>
                </div>
                <div class="row">


                </div>
            </div>


            <div ng-show="profileCtrl.loadDisplay==1">
                <h2 class="text-center">Scientific benchmark</h2>
                <br>
                <uib-tabset active="active">
                    <uib-tab index="0" heading="Community 1">


                            <div class="row">
                                <h3 class="text-center">File upload </h3>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <hr>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 16th Jan 2018</small></p>
                                </div>
                                <div class="col-md-1">
                                    <p>file 1:</p>
                                </div>
                                <div class="col-md-9">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                                        aria-valuenow="76" aria-valuemin="0" aria-valuemax="100" style="width:76%">
                                        76%
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs" disabled>
                                            Validate
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs" disabled>
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-1">
                                    <p>file 2:</p>
                                </div>
                                <div class="col-md-9">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-danger" role="progressbar"
                                        aria-valuenow="Falied" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                        Failed
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs " disabled>
                                            Validate
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>file 3:</p>
                                </div>
                                <div class="col-md-9">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar"
                                        aria-valuenow="Falied" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                        100% (Ready to use)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success btn-xs">
                                            Validate
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <hr>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 17th Jan 2018</small></p>
                                </div>
                                <div class="col-md-1">
                                    <p>file 4:</p>
                                </div>
                                <div class="col-md-9">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar"
                                        aria-valuenow="Falied" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                        Validating...
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="btn-group">

                                        <button type="button" class="btn btn-warning btn-xs">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <button class = "btn btn-default" type="button" name="button">Upload file</button>
                                <br>
                                <br>
                            </div>
                    </uib-tab>







                    <uib-tab index="1" heading="Community 2">

                        <div class="">

                            <div class="">
                                <h3 class="text-center">Evaluation protocol </h3>
                            </div>
                            <div class="page-header">
                                <h4 class="">Dockers </h4>
                            </div>
                            <div class="">
                                <div class="row">
                                    <div class="col-md-1">
                                        <p>Docker_1:</p>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                                            aria-valuenow="76" aria-valuemin="0" aria-valuemax="100" style="width:76%">
                                            76%
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-warning btn-xs" disabled>
                                                Validate
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs" disabled>
                                                Delete
                                            </button>
                                            <button type="button" class="btn btn-info btn-xs" disabled>
                                                Use
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-1">
                                        <p>Docker_2:</p>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger" role="progressbar"
                                            aria-valuenow="Falied" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                            Failed
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-warning btn-xs" disabled>
                                                Validate
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs">
                                                Delete
                                            </button>
                                            <button type="button" class="btn btn-info btn-xs" disabled>
                                                Use
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                        <p>Docker_3:</p>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                            aria-valuenow="Falied" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                            100% (Ready to use)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success btn-xs" disabled>
                                                Validate
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs">
                                                Delete
                                            </button>
                                            <button type="button" class="btn btn-info btn-xs">
                                                Use
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                        <p>Docker_4:</p>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                            aria-valuenow="Falied" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                            100% (Ready to use)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success btn-xs" disabled>
                                                Validate
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs">
                                                Delete
                                            </button>
                                            <button type="button" class="btn btn-info btn-xs">
                                                Use
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                        <p>Docker_5:</p>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                            aria-valuenow="Falied" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                            100% (Ready to use)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success btn-xs" disabled>
                                                Validate
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs">
                                                Delete
                                            </button>
                                            <button type="button" class="btn btn-info btn-xs">
                                                Use
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                        <p>Docker_6:</p>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                            aria-valuenow="Falied" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                            100% (Ready to use)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-warning btn-xs" >
                                                Validate
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs">
                                                Delete
                                            </button>
                                            <button type="button" class="btn btn-info btn-xs" disabled>
                                                Use
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <button class = "btn btn-default" type="button" name="button">Upload docker</button>
                                    <br>
                                    <br>
                                </div>
                            </div>
                            <div class="page-header">
                                <h4 class="">Workflow
                                <div class="btn-group">

                                    <button type="button" class="btn btn-success btn-xs">
                                        Run Workflow
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs">
                                        CWL Workflow
                                    </button>

                                </div>
                            </h4>
                            </div>
                            <select class="" name="">
                                <option value="" selected>Workflow 1</option>
                                <option value="" >Workflow 2</option>
                            </select>
                            <ul class="timeline">
                                <li>
                                    <div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h5 class="timeline-title text-center">Validation <span class="badge">2</span></h5>
                                        </div>
                                        <div class="timeline-body">
                                            <span class="label label-info">Docker_4 x</span>
                                            <span class="label label-info">Docker_5 x</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge success"><i class="glyphicon glyphicon-credit-card"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h5 class="timeline-title text-center">Metrics calculation <span class="badge">1</span></h5>
                                        </div>
                                        <div class="timeline-body">
                                            <span class="label label-info">Docker_3 x</span>

                                        </div>
                                    </div>
                                </li>


                                <li>
                                    <div class="timeline-badge success"><i class="glyphicon glyphicon-floppy-disk"></i></div>
                                    <!-- <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h5 class="timeline-title text-center">Data handling <span class="badge">0</span></h5>
                                        </div>
                                        <div class="timeline-body">


                                        </div>


                                        <div class="timeline-body">

                                            <hr>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Separated link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div> -->
                                </li>
                            </ul>
                        </div>



                    </uib-tab>

                </uib-tabset>





            </div>


            <div ng-show="profileCtrl.loadDisplay==2">
                <h2 class="text-center">Account settings</h2>
                <br>
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="Display name">Display name</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="glyphicon glyphicon-user">
                                        </i>
                                    </div>
                                    <input id="Display name" name="Display name " type="text" placeholder="{{profileCtrl.name ? profileCtrl.name : 'Demo'}}" class="form-control input-md">
                                </div>


                            </div>
                        </div>

                        <!-- File Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="Upload photo">Upload photo</label>
                            <div class="col-md-4">
                                <input id="Upload photo" name="Upload photo" class="input-file" type="file">
                            </div>
                        </div>

                        <!-- Textarea -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="Overview (max 200 words)">Overview (max 200 words)</label>
                            <div class="col-md-4">
                                <textarea class="form-control" rows="10"  id="Overview (max 200 words)" name="Overview (max 200 words)">Overview</textarea>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-4 control-label" ></label>
                            <div class="col-md-4">
                                <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span> Submit</a>
                                <a href="#" class="btn btn-danger" value=""><span class="glyphicon glyphicon-remove-sign"></span> Clear</a>

                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <div ng-show="profileCtrl.loadDisplay==3">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">

                            <p class="col-md-12" >Contact our support team (max 200 words)</p>
                            <div class="col-md-10">
                                <textarea class="form-control" rows="10"  id="Overview (max 200 words)" name="Overview (max 200 words)"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" ></label>
                            <div class="col-md-4">
                                <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span> Send</a>
                                <a href="#" class="btn btn-danger" value=""><span class="glyphicon glyphicon-remove-sign"></span> Clear</a>

                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
